
body{
  background-color: #E4D1B9;
  font-family: Courier New;
  text-align: center;
  padding-top: 185px;
}
.ch{
margin-left: 13px;
}

input[type=text] {

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.btn {
  background: #8FBDD3;
  background-image: -webkit-linear-gradient(top, #8FBDD3, #8FBDD3);
  background-image: -moz-linear-gradient(top, #8FBDD3, #8FBDD3);
  background-image: -ms-linear-gradient(top, #8FBDD3, #8FBDD3);
  background-image: -o-linear-gradient(top, #8FBDD3, #8FBDD3);
  background-image: linear-gradient(to bottom, #8FBDD3, #8FBDD3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;

  font-size: 18px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #89d3f5;
  background-image: -webkit-linear-gradient(top, #89d3f5, #5997b3);
  background-image: -moz-linear-gradient(top, #89d3f5, #5997b3);
  background-image: -ms-linear-gradient(top, #89d3f5, #5997b3);
  background-image: -o-linear-gradient(top, #89d3f5, #5997b3);
  background-image: linear-gradient(to bottom, #89d3f5, #5997b3);
  text-decoration: none;
}
